body{
    text-align: center;

}


.image{
    width: 165px;
    margin-right: 150px;
    padding-top: 30px;
}

#home{
    font-family:  'Birthstone', cursive;
    font-size: 30px;
    background: linear-gradient(#a632a8 0%,#cfeb34 100%);

}

#name{
    font-family:  'Stick No Bills', sans-serif;
}

h1{
    font-family: monospace;
    font-size: 35px;
}

.link{
    float: left;
    color: fuchsia;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-size: 20px;
}

.menu{
    list-style: none;
    color: black !important;
    position: absolute;
    top: 10px;
    right: 25px;
    z-index: 10
    cursor:pointer;
}
.link:hover{
    background-color: red;
}
html{
     scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
img{
    transition: transform .2s;
}

img:hover{
    transform: scale(0.9);
}
#contact{
    background: red;
}

.contact_1 a{
    color: white;
    text-shadow: none;
}

.contact_1 h3{
    display: inline;
    
}

.links:hover{
    font-size: 25px;
    text-decoration: underline !important;
}
.menu{
    position: fixed;
    background: white;
    width: 100%;
    margin-top: 0px;
    top: 0px;
}

a{
    text-decoration: none;
    color: darkred;
    text-shadow: 2px 2px grey;
}

.links{
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
}
.IMG{
    margin-bottom: 200px;
}

.pic{
    margin-bottom: 200px;
}

